<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Couriers">
            <directory>tests/Couriers</directory>
        </testsuite>
        <testsuite name="Shop">
            <directory>tests/Shop</directory>
        </testsuite>
        <testsuite name="Payment">
            <directory>tests/Payment</directory>
        </testsuite>
        <testsuite name="Campaign">
            <file>tests/CampaignTest.php</file>
            <file>tests/PledgeShippingTest.php</file>
        </testsuite>
        <testsuite name="Http">
            <file>tests/HttpTest.php</file>
        </testsuite>
        <testsuite name="AdminLogic">
            <file>tests/Admin/ArticleSaveLogicTest.php</file>
            <file>tests/Admin/ProductSaveLogicTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
