<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Couriers">
            <directory>tests/Couriers</directory>
        </testsuite>
        <testsuite name="Shop">
            <directory>tests/Shop</directory>
        </testsuite>
        <testsuite name="Payment">
            <directory>tests/Payment</directory>
        </testsuite>
        <testsuite name="FeatureFlags">
            <file>tests/FeatureFlagsTest.php</file>
        </testsuite>
        <testsuite name="Campaign">
            <file>tests/CampaignTest.php</file>
            <file>tests/PledgeShippingTest.php</file>
            <file>tests/PledgeDocumentsTest.php</file>
        </testsuite>
        <testsuite name="Http">
            <file>tests/HttpTest.php</file>
            <file>tests/HowToHelpCtaTest.php</file>
        </testsuite>
        <testsuite name="Updater">
            <file>tests/UpdaterTest.php</file>
        </testsuite>
        <testsuite name="AdminUpdatesPage">
            <file>tests/AdminUpdatesPageTest.php</file>
        </testsuite>
        <testsuite name="AdminProductEditPage">
            <file>tests/Admin/ProductEditNullFieldsHttpTest.php</file>
        </testsuite>
        <testsuite name="MailerSmtp">
            <file>tests/MailerSmtpTest.php</file>
        </testsuite>
        <testsuite name="Support">
            <file>tests/SupportTest.php</file>
        </testsuite>
        <testsuite name="Relay">
            <directory>tests/Relay</directory>
        </testsuite>
        <testsuite name="AdminLogic">
            <file>tests/Admin/ArticleSaveLogicTest.php</file>
            <file>tests/Admin/ProductSaveLogicTest.php</file>
            <file>tests/Admin/OrderViewLogicTest.php</file>
            <file>tests/Admin/PagesAdminLogicTest.php</file>
        </testsuite>
        <testsuite name="Organisation">
            <file>tests/OrganisationTest.php</file>
            <file>tests/LaunchBannerTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>
